[Desktop Entry]
Name=Govix
X-KDE-PluginInfo-Name=Govix
X-KDE-PluginInfo-Author=Govix Team
X-KDE-PluginInfo-Email=govixcomputers@gmail.com
X-KDE-PluginInfo-License=CC-BY-SA-4.0
Type=Service
X-KDE-ServiceTypes=Plasma/Wallpaper
