[Unit]
Description=Govix early setup (ensure live user & runtime dir)
After=local-fs.target
Before=display-manager.service

[Service]
Type=oneshot
ConditionPathIsExecutable=/usr/local/bin/govix-setup.sh
ExecStartPre=/usr/bin/mkdir -p /home/govix
ExecStartPre=/usr/bin/chown govix:govix /home/govix
ExecStart=/usr/local/bin/govix-setup.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
